<form action="/comprar" method="post">
    Nome Produto: <input type="text" name="name" id="name"><br>
    Preço Produto: <input type="number" name="price" id="price"><br>
    Quantidade Comprada: <input type="number" name="amount" id="amount"><br>
    E-mail Cliente: <input type="email" name="email" id="email"><br>
    Id PayPal Cliente: <input type="number" name="id" id="id"><br>
    <button>Comprar</button>
</form>

<hr>

<form action="/sub" method="post">
    <input type="email" name="email" placeholder="E-mail do Cliente" id="email"><br>
    <button>Assinar</button>
</form>